.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding-left: 15px;
  padding-right: 15px;

  width: 100vw;
  height: 100vh;
  background-color: $bg-backdrop-color;

  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  transition: opacity $animation, visibility $animation;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
