.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  border: none;
  background-color: transparent;
  transition: transform $animation;

  &:hover,
  &:focus {
    transform: scale(1.15);
    cursor: pointer;
  }
}

.modal-main__btn {
  display: inline-flex;
  width: 110px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  background-color: $bg-white-color;

  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  color: $txt-black-color;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.modal-main__btn--active {
  color: $txt-white-color;
  background-color: $bg-active-color;
}
