.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  border: none;
  background-color: transparent;
  transition: transform $animation;

  &:hover,
  &:focus {
    transform: scale(1.15);
    cursor: pointer;
  }
}

.modal-main__btn {
  display: inline-flex;
  width: 110px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  border-radius: 5px;
  border: 1px solid $txt-black-color;
  outline: none;
  background-color: $bg-white-color;

  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  color: $txt-black-color;
  transition: color $animation, background-color $animation,
    box-shadow $animation;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $txt-white-color;
    background-color: $bg-active-color;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(255, 108, 0, 0.75) 0px 5px 10px;
  }
}

// .modal-main__btn--active {

// }
