<header class="header">
  <div class="container">
    <nav class="header__nav nav">
      <a href="/src/index.html" class="logo">Logo Filmoteka</a>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/src/index.html" class="nav__link nav__link--current"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a href="/src/library.html" class="nav__link">My Library</a>
        </li>
      </ul>
    </nav>
    <form class="header__form">
      <input
        type="text"
        class="header__input"
        placeholder="Movie search"
        name="query"
      />
      <button class="btn btn-submit">Search</button>
    </form>
  </div>
</header>
