<section class="filmoteka films">
  <div class="container">
    <h1 class="visually-hidden">Filmoteka</h1>
    <ul class="films__list js-films-list">
      <p>Заглушка (Якщо це видно, то не приходить відпоідь з бекенду)</p>
      <li class="films__item js-target" data-id="1">
        <div class="films__img-wrapper">
          <img
            src="./images/test.jpg"
            alt=""
            class="films__img"
            loading="lazy"
          />
        </div>
        <div class="films__info">
          <p class="films__name">{name}</p>
          <p class="films__desk">
            <span class="films__genre">{genresToShow}</span> |
            <span class="films__year">{year}</span>
          </p>
          <p class="films__desk">
            <span class="films__rating--text"> Rating: </span>
            <span class="films__rating">${rating}</span>
          </p>
        </div>
      </li>
      `;
    </ul>
  </div>
</section>
