<!-- Modal window + backdrop -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal-main modal-main--flex">
    <button class="btn-close" type="button" name="btn-close" data-modal-close>
      <svg class="btn-close__icon" width="30" height="30">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal-container js-modal-container"></div>
  </div>
</div>

<!-- Loyout -->

<!-- <div class="img-wrapper">
      <img src="${imgUrl}" alt="${name}" class="modal-main__img" />
    </div>
    <div class="info-wrapper">
      <div class="modal-main__info movie-info">
        <h2 class="movie-info__title">${name}</h2>
        <ul class="movie-info__list">
          <li class="movie-info__item">
            <span class="movie-info__param">Vote / Votes</span>
            <span class="movie-info__value"
              ><span class="movie-info__vote">${vote}</span> /
              <span class="movie-info__votes">${votes}</span></span
            >
          </li>
          <li class="movie-info__item">
            <span class="movie-info__param">Popularity</span>
            <span class="movie-info__value">${popularity}</span>
          </li>
          <li class="movie-info__item">
            <span class="movie-info__param">Original Title</span>
            <span class="movie-info__value movie-info__value--uppercase"
              >${originalTitle}</span
            >
          </li>
          <li class="movie-info__item">
            <span class="movie-info__param">Genre</span>
            <span class="movie-info__value">${genres}</span>
          </li>
        </ul>
        <h3 class="modal-info__subtitle">ABOUT</h3>
        <p class="modal-info__desc">${about}</p>

        <div class="btn-wrapper">
      <button class="main-btn main-btn--modal" name="add-to-watched" type="button">
        ADD to watched
      </button>
      <button class="main-btn main-btn--modal" name="add-to-queue" type="button">
        ADD to queue
      </button>
    </div>
      </div>
      
    </div> -->
